<div class="full-page-background">

    <div class="icon-container">
        <a href="https://github.com" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.whatsapp.com" target="_blank"><i class="fab fa-whatsapp"></i></a>
      </div> 
      <div class="thank-you-message">
        Thank you for following us!
      </div>
</div>