/* تنسيق شريط التنقل */
.navbar {
    position: fixed; /* يثبت الشريط في أعلى الصفحة */
    top: 0;
    left: 0; 
    width: 100vw; 
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 1rem; /* مسافة داخلية للشريط */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* ظل خفيف للشريط */
    z-index: 1000; 
}


.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    padding: 0;
    margin: 0;
}

.navbar li a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.navbar li a:hover,
.navbar li a:focus {
    color: rgb(7, 7, 145);
}
