<div class="full-page-background">
    <h2>Technology Vision</h2>
    <h1> Information Technology <br>
       & Computing</h1>
  <p> Here we will learn about information technology, beacuse it’s very important for our life,
     it’s use of any computers, storage,<br> networking and other physical devices, process,programming, secure and exchange all forms of electronic data.
    <br> Typically, IT is used in the context of business operations as opposed to technology <br> used for personal or entertainment purposes. </p>
  </div>
  