<div class="button-container">
    <button (click)="openLink('https://www.youtube.com/watch?v=8mAITcNt710')" class="youtube-button">
        Introduction to Computer Science
    </button>
    <button (click)="openLink('https://www.youtube.com/watch?v=lJC_sJ6jhDo&list=PLTZYG7bZ1u6pQJShZs9iV0aJNzsqTm4Mx')" class="youtube-button">
        IT Support 
    </button>
    <button (click)="openLink('https://www.youtube.com/watch?v=Ia-UEYYR44s')" class="youtube-button">
        AWS Certified Solutions Architect
    </button>
    <button (click)="openLink('https://www.youtube.com/watch?v=l1EssrLxt7E&list=PLfqMhTWNBTe3H6c9OGXb5_6wcc1Mca52n')" class="youtube-button">
        Web Developer
    </button>
    <button (click)="openLink('https://www.youtube.com/watch?v=NPEsD6n9A_I&list=PLGjZwEtPN7j-Q59JYso3L4_yoCjj2syrM')" class="youtube-button">
        Microsoft Certified: Azure Fundamentals
    </button>
    <button (click)="openLink('https://youtu.be/I7NrVwm3apg?si=8M5U_N9wZfDOWuOQ')" class="youtube-button">
        Data Science and Machine Learning
    </button>
    <button (click)="openLink('https://www.youtube.com/watch?v=lpa8uy4DyMo&list=PL9ooVrP1hQOGPQVeapGsJCktzIO4DtI4_')" class="youtube-button">
        Cybersecurity Essentials
    </button>
    <button (click)="openLink('https://www.youtube.com/watch?v=B_SlcO2DrOI&list=PLQVJk9oC5JKo3uD8qM7z3QIpE07osxY-X')" class="youtube-button">
        Introduction to DevOps
    </button>
    <button (click)="openLink('https://www.youtube.com/watch?v=uOTy_0gXf7I&list=PLVext98k2evjIFqVggHfvecnFu4tTJK_o')" class="youtube-button">
        Google Cloud Platform Fundamentals
    </button>
    <button (click)="openLink('https://www.youtube.com/watch?v=r-uOLxNrNk8')" class="youtube-button">
        Data Analysis with Paython
    </button>
  </div>